<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="2" parallel="classes" thread-count="3">
  <test name="Test">
    <classes>    	
    <class name="testCases.TC003_CreateLead"/>
   <!--  <class name="testCases.TC004_DeleteLead"/>
    <class name="testCases.TC005_DuplicateLead"/>
    <class name="testCases.TC006_EditLead"/>
      <class name="testCases.TC007_MergeLeads"/> -->      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
